.border-radius-none {
  border-radius: 0;
}

.border-radius-sm {
  border-radius: 0.125rem;
}

.border-radius-md {
  border-radius: 0.375rem;
}

.border-radius-lg {
  border-radius: 0.5rem;
}

.border-radius-xl {
  border-radius: 0.75rem;
}

.border-radius-2xl {
  border-radius: 1rem;
}

.border-radius-3xl {
  border-radius: 1.5rem;
}

.border-radius-full {
  border-radius: 9999px;
}
